:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-wrap: balance;

  --accent-400: #d7de22;
  --primary-400: #1e2b29;

  --neutral-100: #ffffff;
  --neutral-400: #f7f7f7;

  --fs-100: 0.5rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 2rem;
  --fs-800: 3rem;
  --fs-d: 10rem;

  --ls-200: 1px;
  --ls-400: 2px;

  --gap-100: 0.5rem;
  --gap-200: 1rem;
  --gap-400: 1.6rem;
  --gap-600: 2.4rem;
  --gap-800: 10rem;

  --inner-clamp: 1664px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-100);
}

section {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--fs-800);
  font-weight: 600;
  line-height: 1.2;
  text-wrap: balance;
}

h2 {
  font-size: var(--fs-600);
  font-weight: 200;
  text-transform: uppercase;
  text-wrap: balance;

  letter-spacing: var(--ls-400);
  line-height: 1.2;
}

.button {
  display: inline-block;
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: var(--ls-200);

  padding: var(--gap-100);

  border: 2px solid var(--accent-400);
  background: none;
}

.button:hover,
.button:focus {
  border: 2px solid var(--primary-400);
}

.button:active {
  border: 2px solid var(--neutral-400);
}

.contact-form {
  & div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-400);

    margin-bottom: var(--gap-600);
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: var(--gap-100);

    color: var(--accent-400);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: var(--ls-200);
  }

  & input {
    letter-spacing: var(--ls-400);

    padding: 0.5rem;

    background: none;
    border: none;
    border-bottom: 2px solid var(--neutral-400);
  }

  & textarea {
    padding: 0.5rem;

    background: none;
    border: 2px solid var(--neutral-400);
  }
}

.container {
  max-width: var(--inner-clamp);
  width: 100%;

  padding-inline: 128px;
}

.content-block {
  > * + * {
    margin-bottom: var(--gap-400);
  }

  & p:first-of-type {
    color: var(--accent-400);

    font-size: var(--fs-500);
    font-weight: 600;

    letter-spacing: var(--ls-400);
    text-transform: uppercase;
  }
}

.header {
  width: 100%;
  min-height: 7.5rem;

  position: fixed;
  overflow: hidden;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-400);

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & ul {
      display: flex;
      flex-direction: row;
      gap: var(--gap-400);
    }
  }
}

.hero {
  min-height: 36rem;

  position: relative;
  overflow: hidden;

  padding-top: 7.5rem;

  & h1 {
    color: var(--accent-400);
  }

  & p {
    color: var(--neutral-400);
    font-size: var(--fs-500);
    font-weight: 600;
  }

  & .button {
    color: var(--neutral-400);
  }

  & .button:hover,
  .button:focus {
    border: 2px solid var(--neutral-400);
  }
  & .button:active {
    border: 2px solid var(--primary-400);
  }

  & .content {
    max-width: 50vw;
    text-align: end;

    margin-left: auto;
    margin-right: 0;
  }

  & .content > * + * {
    margin-top: var(--gap-400);
  }
}

.info {
  padding-block: var(--gap-600);

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-400);

    & .info-element {
      min-width: 18rem;
      height: 20rem;

      margin-bottom: var(--gap-600);
      background-color: var(--accent-400);
    }
  }

  & img {
    height: 20rem;
    margin-top: var(--gap-600);
  }
}

.quote {
  text-align: center;

  background-color: var(--primary-400);

  & .container {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 12rem;

    padding-inline: 256px;
    padding-block: var(--gap-600);

    & .quotemark {
      position: absolute;
      top: -3rem;
      left: var(--gap-800);

      font-size: var(--fs-d);

      color: var(--accent-400);
    }

    & p {
      color: var(--neutral-400);

      font-size: var(--fs-600);
    }
  }
}

.services {
  text-align: center;
  padding-block: var(--gap-600);
  margin-block: var(--gap-400);

  background-color: var(--neutral-400);

  & .container > h2 {
    margin-bottom: var(--gap-400);
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap-400);
  }
}

.card-service {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--gap-400);

  & img {
    min-width: 6rem;
    height: 6rem;

    background-color: var(--primary-400);
  }

  > div {
    max-width: 10rem;
    text-align: start;

    & p {
      color: var(--accent-400);
      font-size: var(--fs-600);
    }

    & h3 {
      font-size: var(--fs-500);
      font-weight: 200;
      text-transform: uppercase;
    }
  }
}

.contact-article {
  color: var(--neutral-400);
  padding-block: var(--gap-600);

  & .container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: var(--gap-400);
  }

  & input,
  textarea,
  button {
    color: var(--neutral-400);
  }
}
