:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-wrap: balance;

  --accent-400: #d7de22;
  --primary-400: #1e2b29;

  --neutral-100: #ffffff;
  --neutral-400: #f7f7f7;

  --fs-100: 0.5rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 2rem;
  --fs-800: 3rem;
  --fs-d: 10rem;

  --ls-200: 1px;
  --ls-400: 2px;

  --gap-100: 0.5rem;
  --gap-200: 1rem;
  --gap-400: 1.6rem;
  --gap-600: 2.4rem;
  --gap-800: 10rem;

  --inner-clamp: 1664px;

  --tablet: (max-width: 1080px);
  --mobile: 480px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-100);
}

section,
footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-block: var(--gap-600);
}

h1 {
  font-size: var(--fs-800);
  font-weight: 600;
  line-height: 1.2;
  text-wrap: balance;
}

h2 {
  font-size: var(--fs-600);
  font-weight: 200;
  text-transform: uppercase;
  text-wrap: balance;

  letter-spacing: var(--ls-400);
  line-height: 1.2;
}

.button {
  display: inline-block;
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: var(--ls-200);

  padding: var(--gap-100);

  border: 2px solid var(--accent-400);
  background: none;
}

.button:hover,
.button:focus {
  border: 2px solid var(--primary-400);
}

.button:active {
  border: 2px solid var(--neutral-400);
}

.contact-form {
  & div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-400);

    margin-bottom: var(--gap-600);
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: var(--gap-100);

    color: var(--accent-400);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: var(--ls-200);
  }

  & input {
    letter-spacing: var(--ls-400);

    padding: 0.5rem;

    background: none;
    border: none;
    border-bottom: 2px solid var(--neutral-400);
  }

  & textarea {
    resize: vertical;

    padding: 0.5rem;

    background: none;
    border: 2px solid var(--neutral-400);
  }
}

.container {
  max-width: var(--inner-clamp);
  width: 100%;

  padding-inline: 8rem;
}

.content-block {
  > *:not(:first-child):not(:last-child) {
    margin-bottom: var(--gap-400);
  }

  & p:first-of-type {
    color: var(--accent-400);

    font-size: var(--fs-500);
    font-weight: 600;

    letter-spacing: var(--ls-400);
    text-transform: uppercase;
  }
}

.header {
  --foreground: var(--primary-400);
  --background: var(--accent-400);

  width: 100%;
  min-height: 7.5rem;

  position: fixed;
  overflow: hidden;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background);

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & ul {
      display: flex;
      flex-direction: row;
      gap: var(--gap-400);

      @media (max-width: 1080px) {
        max-width: min-content;
      }
    }
  }
}

.hero {
  --foreground: var(--primary-400);
  --background: var(--accent-400);
  --accent: var(--neutral-400);

  min-height: 36rem;

  position: relative;
  overflow: hidden;
  z-index: 0;

  padding-top: 9rem;

  & .element {
    position: absolute;
    top: 7.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    z-index: -1;
  }

  & h1 {
    color: var(--background);
  }

  & p {
    color: var(--accent);
    font-size: var(--fs-500);
    font-weight: 400;
  }

  & .button {
    color: var(--accent);
  }

  & .button:hover,
  .button:focus {
    border: 2px solid var(--accent);
  }
  & .button:active {
    border: 2px solid var(--foreground);
  }

  & .content {
    max-width: 50vw;
    text-align: end;

    margin-left: auto;
    margin-right: 0;
  }

  & .content > * + * {
    margin-top: var(--gap-400);
  }
}

.info {
  --foreground: var(--primary-400);
  --background: var(--neutral-400);
  --accent: var(--accent-400);

  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-400);

    & .info-element,
    img {
      min-width: 16rem;
      min-height: 20rem;

      @media (max-width: 1080px) {
        min-width: 10rem;
        height: 16rem;
      }
    }

    & .info-element {
      margin-bottom: var(--gap-600);
      background-color: var(--accent);
    }
  }

  & img {
    width: 100%;
    max-height: 20rem;

    object-fit: cover;

    margin-top: var(--gap-600);
  }
}

.quote {
  --foreground: var(--neutral-400);
  --background: var(--primary-400);
  --accent: var(--accent-400);

  text-align: center;

  background-color: var(--background);

  & .container {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 12rem;

    padding-inline: 256px;
    padding-block: var(--gap-600);

    & p {
      position: relative;
      color: var(--foreground);

      font-size: var(--fs-600);
      text-transform: uppercase;
      letter-spacing: var(--ls-400);
    }

    & p::after {
      content: '"';
      position: absolute;
      top: 0;
      left: -8rem;

      display: inline-block;
      line-height: 10rem;

      color: var(--accent);
      font-size: 16rem;
    }
  }
}

.services {
  --foreground: var(--primary-400);
  --background: var(--neutral-400);

  text-align: center;

  padding-block: var(--gap-600);
  margin-block: var(--gap-400);

  background-color: var(--background);

  & .container {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  & .container > h2 {
    margin-bottom: var(--gap-400);
  }

  & ul {
    width: min-content;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--gap-400);
    column-gap: var(--gap-600);

    @media (max-width: 1080px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: var(--gap-600);
    }
  }
}

.card-service {
  --foreground: var(--accent-400);
  --background: var(--primary-400);

  width: min-content;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--gap-200);

  & .icon-background {
    min-width: 8rem;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-400);
  }

  > div {
    width: min-content;
    max-width: 10rem;
    text-align: start;

    & p {
      color: var(--foreground);
      font-size: var(--fs-600);
    }

    & h3 {
      min-width: fit-content;
      font-size: var(--fs-400);
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: var(--ls-400);

      margin-block: var(--gap-100);
    }

    & .button {
      width: max-content;
    }
  }
}

.contact-article {
  --foreground: var(--neutral-400);

  color: var(--foreground);

  padding-block: var(--gap-800);

  background-size: cover;

  & .container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: var(--gap-400);

    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
      gap: var(--gap-600);

      & form {
        order: 1;
      }
    }
  }

  & input,
  textarea,
  button {
    color: var(--foreground);
  }
}

.slideshow {
  gap: unset;
  overflow: hidden;
}

.slide {
  --accent: var(--accent-400);

  width: 100%;
  min-height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: var(--gap-400);

  text-align: center;

  padding-inline: var(--gap-600);

  & .testimonial {
    position: relative;

    text-transform: uppercase;
    letter-spacing: var(--ls-400);
    text-wrap: balance;
  }

  & .testimonial::after {
    content: '"';
    position: absolute;
    top: -4rem;
    left: 6rem;

    display: inline-block;
    line-height: 10rem;

    color: var(--accent);
    font-size: 16rem;
  }

  & .testimonial-client {
    font-size: var(--fs-200);
  }
}

.footer {
  --foreground: var(--primary-400);
  --background: var(--accent-400);
  --accent: var(--neutral-400);

  background-color: var(--background);

  & .container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-600);

    & img {
      object-fit: contain;
    }

    & .content {
      display: grid;
      grid-template-columns: 1fr 2fr;

      padding-bottom: var(--gap-200);

      border-bottom: 2px solid var(--accent);

      @media (max-width: 1080px) {
        grid-template-columns: 1fr;
        gap: var(--gap-400);
      }

      & .contact {
        min-width: max-content;
        display: grid;
        gap: var(--gap-100);

        @media (max-width: 1080px) {
          grid-template-columns: 1fr 1fr;
        }

        & .contact-info {
          --foreground: var(--neutral-400);

          display: flex;
          align-items: center;
          gap: var(--gap-200);
        }
      }

      & p {
        max-width: 40rem;
      }
    }
  }
}

::selection {
  background-color: var(--accent-400);
  color: var(--neutral-400);
}
