:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --accent-400: #d7de22;
  --primary-400: #1e2b29;

  --neutral-100: #ffffff;
  --neutral-400: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  width: 100%;
  min-height: 7.5rem;

  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-400);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
